<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="./index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header class="header none">
        <nav class="nav-box">
          <ul class="nav">
            <li class="nav__list"><a href="#">Обо мне</a></li>
            <li class="nav__list"><a href="#">Навыки</a></li>
            <li class="nav__list"><a href="#">Проекты</a></li>
            <li class="nav__list"><a href="#">Контакты</a></li>
          </ul>
        </nav>
        <div class="about">
          <h1 class="about__title">
            Привет, я <br />
            Никита Жвалик
          </h1>
          <p class="about__text">
            Я Front-end разработчик, ориентированный на результат при создании
            SPA приложений с использованием React. Хотелось бы найти проектную
            работу на постоянной основе в компании с современным подходом к
            разработке и сплоченной командой.
          </p>
          <button class="btn-next">Навыки</button>
        </div>
      </header>

      <section class="skills-box none">
        <nav class="nav-box">
          <ul class="nav">
            <li class="nav__list"><a href="#">Обо мне</a></li>
            <li class="nav__list"><a href="#">Навыки</a></li>
            <li class="nav__list"><a href="#">Проекты</a></li>
            <li class="nav__list"><a href="#">Контакты</a></li>
          </ul>
        </nav>

        <h2 class="h2 skills-box__title">Мои навыки</h2>
        <ul class="skills">
          <li class="skill">
            <img src="./img/skills/html.svg" alt="" />
            <h3 class="skill__title">HTML5</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/css.svg" alt="" />
            <h3 class="skill__title">CSS</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/js.svg" alt="" />
            <h3 class="skill__title">JS</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/react.svg" alt="" />
            <h3 class="skill__title">React</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/redux.svg" alt="" />
            <h3 class="skill__title">Redux</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/nodejs.svg" alt="" />
            <h3 class="skill__title">Node.js</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/postman.svg" alt="" />
            <h3 class="skill__title">Postman</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/webpack.svg" alt="" />
            <h3 class="skill__title">Webpack</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/VS-code.svg" alt="" />
            <h3 class="skill__title">VS code</h3>
          </li>
          <li class="skill">
            <img src="./img/skills/github.svg" alt="" />
            <h3 class="skill__title">GitHub</h3>
          </li>
        </ul>

        <button class="btn-next">Проекты</button>
      </section>

      <main class="projects-box none">
        <nav class="nav-box">
          <ul class="nav">
            <li class="nav__list"><a href="#">Обо мне</a></li>
            <li class="nav__list"><a href="#">Навыки</a></li>
            <li class="nav__list"><a href="#">Проекты</a></li>
            <li class="nav__list"><a href="#">Контакты</a></li>
          </ul>
        </nav>

        <h2 class="h2 projects-box__title">Мое портфолио</h2>
        <div class="projects-container">
          <ul class="projects">
            <li class="project">
              <img
                class="project__img"
                src="./img/projects/portfolio.png"
                alt=""
              />
              <h3 class="projects__title">HTML5</h3>
            </li>
            <li class="project">
              <img
                class="project__img"
                src="./img/projects/portfolio.png"
                alt=""
              />
              <h3 class="projects__title">HTML5</h3>
            </li>
            <li class="project">
              <img
                class="project__img"
                src="./img/projects/portfolio.png"
                alt=""
              />
              <h3 class="projects__title">HTML5</h3>
            </li>
            <li class="project">
              <img
                class="project__img"
                src="./img/projects/portfolio.png"
                alt=""
              />
              <h3 class="projects__title">HTML5</h3>
            </li>
            <li class="project">
              <img
                class="project__img"
                src="./img/projects/portfolio.png"
                alt=""
              />
              <h3 class="projects__title">HTML5</h3>
            </li>
          </ul>
        </div>
        <button class="btn-next btn-next_projects">Контакты</button>
      </main>

      <section class="contacts">
        <nav class="nav-box">
          <ul class="nav">
            <li class="nav__list nav__list_contacts">
              <a href="#">Обо мне</a>
            </li>
            <li class="nav__list nav__list_contacts"><a href="#">Навыки</a></li>
            <li class="nav__list nav__list_contacts">
              <a href="#">Проекты</a>
            </li>
            <li class="nav__list nav__list_contacts">
              <a href="#">Контакты</a>
            </li>
          </ul>
        </nav>

        <div class="contacts__box">
            <div class="contacts__container">
                <div class="left-side">
                  <h2 class="h2 left-side__title">Связаться со мной</h2>
                  <ul class="left-side__box">
                    <li>
                      <a
                        class="left-side__link"
                        target="_blank"
                        href="https://github.com/NikitaZhvalik"
                      >
                        <img
                          class="left-side__img"
                          src="./img/contacts/github.svg"
                          alt=""
                        />
                        <h4 class="left-side__subtitle">GitHub</h4>
                        <p class="left-side__text">Больше работ</p>
                      </a>
                    </li>
                    <li>
                      <a
                        class="left-side__link"
                        target="_blank"
                        href="https://wa.me/79154499346"
                      >
                        <img
                          class="left-side__img"
                          src="./img/contacts/whatsapp.png"
                          alt=""
                        />
                        <h4 class="left-side__subtitle">Whatsapp</h4>
                        <p class="left-side__text">+ 79154499346</p>
                      </a>
                    </li>
                    <li>
                      <a
                        class="left-side__link"
                        target="_blank"
                        href="https://t.me/Nikita_Zhvalik"
                      >
                        <img
                          class="left-side__img"
                          src="./img/contacts/telegram.png"
                          alt=""
                        />
                        <h4 class="left-side__subtitle">Telegram</h4>
                        <p class="left-side__text">t.me/Nikita_Zhvalik</p>
                      </a>
                    </li>
                  </ul>
                </div>
      
                <div class="right-side">
                  <h2 class="h2 right-side__title">Отправить сообщение</h2>
                  <form class="right-side__form" action="">
                    <input class="right-side__input" placeholder="Имя" type="text" required/>
                    <input class="right-side__input" placeholder="Эл.адрес" type="email" required/>
                    <textarea class="right-side__textarea" name="" id="" cols="30" rows="13" placeholder="Сообщение" required ></textarea>
                    <div class="btns__container">
                      <button class="right-side__btn" type="submit">
                        Отправить сообщение
                      </button>
                    </div>
                  </form>
                </div>
              </div>
        </div>
      </section>
    </div>
  </body>
</html>
