@import './normalize.css';
@import './nullstyles.css';


@keyframes animateC {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
}
  
@keyframes animate {
	0% {
	  transform: rotate(45deg);
	}
  
	100% {
	  transform: rotate(405deg);
	}
}

.none {
	display: none !important;
}

body {
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
}

.h2 {
	color: #FFF;
	font-size: 48px;
	font-weight: 700;
	line-height: 72px;
	letter-spacing: 0em;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #FFF;
	text-align: left;
}

.container {
	width: 100vw;
	height: 100vh;
}

.header {
	width: 100vw;
	height: 100vh;
	padding: 40px 60px;

	background-image: url(./img/about/background-about.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.nav {
	display: flex;
    column-gap: 70px;
}

.nav__list {
	position: relative;
	z-index: 1;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFF;
}

.nav__list:hover {
	color: #000;
}

.nav__list::before {
	content: '';
	position: absolute;
	top: -43px;
	left: -40px;
	width: 160px;
    height: 140px;
	opacity: 0;
	z-index: -1;
	background-image: url(./img/header/hover-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
	transition: all ease-in 0.3s;
}

.nav__list:hover::before {
	opacity: 1;
}

.about {
	margin-top: 70px;
	margin-bottom: 40px;
}

.about__title {
	margin-bottom: 20px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #FFF;
	font-size: 100px;
	font-weight: 500;
	letter-spacing: 0em;
	text-align: left;
}

.about__text {
	width: 420px;
	margin-bottom: 40px;
	padding-left: 15px;
	font-size: 18px;
	line-height: 30px;
	color: #FFF;

	border-left: 3px solid #FFF;
}

.btn-next {
	position: relative;
	width: 110px;
	height: 110px;
	background: transparent;
	border: 0 solid #3c3c3c;
	border-radius: 50%;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	color: #fff;
	letter-spacing: 3px;
	text-shadow: 0 0 20px #fff;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.btn-next:hover {
	box-shadow: 0 0 40px rgb(255 255 255 / 80%);
}
  
.btn-next:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	border-radius: 50%;
	animation: animateC 2s linear infinite;
}
  








/* skills */
.skills-box {
	width: 100vw;
	height: 100vh;
	padding: 40px 60px;
	background-image: url(./img/skills/background-skills.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.skills-box__title {
	margin-top: 50px;
	margin-bottom: 100px;
}

.skills {
	max-width: 900px;
	margin-bottom: 80px;
	padding-left: 40px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 125px;
	row-gap: 150px;
}

.skill {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	column-gap: 125px;
}

.skill::before {
	content: '';
	position: absolute;
	top: -35px;
	width: 120px;
    height: 150px;
	z-index: -1;
	background-image: url(./img/skills/background-skill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
/* skills */







/* projects */
.projects-box {
	width: 100vw;
	height: 100vh;
	padding: 40px 60px;
	background-image: url(./img/projects/background-projects.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.projects-box__title {
	margin-top: 50px;
	margin-bottom: 30px;
}

.projects-container {
	display: flex;
	justify-content: center;
}

.projects {
	width: 1200px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.project {
	border: 1px solid #FFF;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 10px;
}

.project__img {
	width: 350px;
	height: 220px;
	padding: 5px;
	border-radius: 20px;

}

.projects__title {
	padding-bottom: 10px;
	color: #FFF;
}

.btn-next_projects {
	margin-left: 350px;
}
/* projects */








/* contacts */
.contacts {
	width: 100vw;
	height: 100vh;
	padding: 40px 60px;
	background-image: url(./img/contacts/background-contacts.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.nav__list_contacts {
	position: relative;
}

.nav__list_contacts::after{
	content: '';
	position: absolute;
	top: -60px;
	left: -20px;
	width: 120px;
    height: 140px;
	z-index: -2;
	background-image: url(./img/contacts/background-a-contacts.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
	transition: all ease-in 0.3s;
	transform: rotate(90deg);
}

.contacts__box {
	display: flex;
	justify-content: center;
}

.contacts__container {
	max-width: 1200px;
	height: 70vh;
	margin-top: 80px;
	padding: 30px 60px;


	display: flex;
	justify-content: space-between;
	gap: 50px;

	background-color: #FFF;
	border: 7px solid #000;
	border-radius: 20px;
}

.left-side {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side__title {
	margin-bottom: 30px;

	font-size: 36px;
	line-height: 36px;

	-webkit-text-stroke: 2px #000;
}

.right-side__title {
	margin-bottom: 30px;

	font-size: 36px;
	line-height: 36px;

	-webkit-text-stroke: 2px #000;
}

.left-side li {
	max-width: 200px;
	padding: 15px;

	border: 2px solid #000;
	border-radius: 10px;

	transition: box-shadow ease-in 0.3s;
}

.left-side li:hover {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5); 
}

.left-side li {
	margin-bottom: 30px;
}

.left-side__link {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side__img {
	margin-bottom: 5px;
}

.left-side__subtitle {
	font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.left-side__text {
    line-height: 27px;
}

.right-side__form {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.right-side__input {
	width: 300px;
	height: 45px;
	padding: 3px 20px;

	border: 2px solid #000;
	border-radius: 10px;
}

.right-side__textarea {
	width: 300px;
	padding: 20px;
    resize: none;
	border: 2px solid #000;
	border-radius: 10px;
}

.btns__container {
	position: relative;

	transition: all ease-in 0.3s;
}

.right-side__btn {
	width: 160px;
	min-height: 45px;
	padding: 5px 15px;

	background-color: #000;
	border: 2px solid #000;
	border-radius: 10px;

	color: #FFF;

	transition: all ease-in 0.3s;
}

.right-side__btn:hover {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5); 
	background-color: #FFF;
	color: #000;
}
/* contacts */